
.btn{
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-radius: 3x;
    border-style: solid;
    padding: 8px;
    margin-left: 20px;
    align-content: center;
    
}

.btn-primary {
    color: rgb(73, 0, 245);
    border-color: rgb(12, 211, 111);
    background-color: transparent;
}



.txt-area-input   {
    border: 2px solid rgb(38, 2, 241);
    border-top: 2px solid rgb(38, 2, 241);
    border-bottom: 2px solid rgb(38, 2, 241);
    resize: none;
 }

 /*
 input {
    width: 80%;
    border: 2px solid rgb(200, 70, 70);
    border-top: 2px solid rgb(192, 58, 58);
    border-bottom: 2px solid rgb(200, 70, 70);
    margin-right: 30px;
    padding: 5px;
    line-height: 1px;
}

input:focus{
    outline: 2px solid rgb(200, 70, 70);
    border: 2px solid rgb(200, 70, 70);
    border-top: 2px solid rgb(200, 70, 70);
    border-bottom: 2px solid rgb(200, 70, 70);
}
*/